<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <title>contact us</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>Create Table</title>
    </head>

    <body>
        <div style="background-color:lightblue;">
            <center>
                <form>
                    <table border="1px" cellspacing="5px">
                        <tr>
                            <td> <label for="name">Name:</label> </td>
                            <td> <input type="text" id="name" placeholder="Enter Your Name" name="name"
                                    value="paras raval" required>
                            </td>
                        </tr> <br>
                        <tr>
                            <td> <label for="email">Email:</label> </td>
                            <td> <input type="email" id="email" placeholder="Enter Your Email" name="email" required>
                            </td>
                        </tr><br>
                        <tr>
                            <td> <label for="number">Mobile Number:</label> </td>
                            <td> <input type="number" id="number" placeholder="Enter Your Mobile Number" name="number "
                                    required> </td>
                        </tr>
                        <tr>
                            <td> <label>Gender:</label required> </td>
                            <td> <label for="male">Male</label> <input type="radio" id="male" name="gender"
                                    value="Male"> <label for="female">Female</label> <input type="radio" id="female"
                                    name="gender" value="Female">
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="date">Date:</label> </td>
                            <td> <input type="date" id="date" value="date" required> </td>
                        </tr>
                        <tr>
                            <td> <label for="add">Address:</label> </td>
                            <td> <textarea name="Add" id="add" cols="30" rows="10" required></textarea> </td>
                        </tr>
                        <tr>
                            <td> <label for="city">City:</label> </td>
                            <td>
                                <select name="city" id="city" required>
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Kurla">Kurla</option>
                                    <option value="Sion">Sion</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="pin">Area Pin:</label> </td>
                            <td> <input type="number" id="pin" name="area pin" required> </td>
                        </tr>
                        <tr>
                            <td> <label for="State">State:</label> </td>
                            <td>
                                <select name="State" id="State" required>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="qualification">Qualification:</label> </td>
                            <td>
                                <select name="qualification" id="qualification" required>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="B.Tech">B.Tech</option>
                                    <option value="M.Tech">M.Tech</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="Specialization">Specialization</label required> </td>
                            <td>
                                <input type="checkbox" name="computer science" id="cs">
                                <label for="cs">Computer Science</label> <br>
                                <input type="checkbox" name="information technology" id="it">
                                <label for="it">Information technology</label> <br>
                                <input type="checkbox" name="computer architecture" id="ca">
                                <label for="ca">Computer Architecture</label> <br>
                                <input type="checkbox" name="tele communication" id="tc">
                                <label for="tc">Tele Communication</label>
                            </td>
                        </tr>
                        <tr>
                            <td> <input type="submit" value="Register"> </td>
                        </tr>
                    </table>
                </form>
            </center>
        </div>
    </body>
    

    </html>

</body>

</html>