<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>features</title>
</head>

<body>
    <h1> welcome to features page</h1>




    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 w-normal"> komal</h4>
                </div>
                <div class="card-body">
                    <img src="../static/review2.jpg" alt="" width="50px" height="50px" >
                    
                     <!-- <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>  -->
                    <ul class="list-unstyled mt-3 mb-4">
                        <p>ODeX India Solutions has a learning environment. Very good company who is looking to work <br>
                            with the start-up set up. Management has open-door policy. Employees give respect to each <br>
                            other.</p>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">@paras.raval2002</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">mayur</h4>
                </div>
                <div class="card-body">
                    <img src="../static/review1.jpg" alt="" width="50px" height="50px">
                    <!-- <h1> class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1> -->
                    <ul class="list-unstyled mt-3 mb-4">
                        <p>t 's nice place for work . Work Environment is so good And seniors always helping you. It is <br>
                            product based company , Its product is in logistics domain.</p>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">@mayur_raval9998</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">preya</h4>
                </div>
                <div class="card-body">
                    <img src="../static/review3.jpg" alt="" width="50px" height="50px">
                    <!-- <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1> -->
                    <ul class="list-unstyled mt-3 mb-4">
                        <p>freindly work culture .I have learned team management ,relationship management .I got a <br>
                            chance to workdirectly with the directors of the company .The enjoyable part that company <br>
                            celebrated every festival .</p>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">@pavagad_hill</button>
                </div>
            </div>
        </div>
    </div>        


    